body {
  font-family: Helvetica;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
  background-image: url("../images/the-flatiron-building.png");
  text-align: center;
}

#header {
  color: white;
  background-image: url("../images/the-flatiron-building.png");
  text-align: center;
  font-size: 18px;
}

.menu {
  color: white
}

.menu a {
  color: white;
  font-size: 18px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

h3 {
  font-size: 23px;
  font-weight: bold;
  text-align: center;
}

p {
  text-align: center
}

#bar {
  font-size: 23px;
  text-align: center;
  color: white;
  font-weight: bold;
  background-image: url("../images/the-flatiron-building.png");
}

#footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
